.n-body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.logo {
    height: 20px;
}

.navbar-navv {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-items {
    margin:0px 30px;
}

.nav-links {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

.nav-links:hover {
    text-decoration: none;
    color: #fa89c1;
    font-weight: bolder;
}

@media (max-width: 600px) {
    .logo {
        height: 10px;
    }
    
    .nav-items {
        text-align: left;
        margin: 0px 10px;
        font-size: smaller;
    }
}

@media (max-width:340px){
    .nav-items {
        text-align: left;
        margin: 0px 8px;
        font-size: xx-small;
    }
}