.reg-body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e6717186, #451f5385);
    color: #ffffff;
}


.reg-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 50%;
    max-width: 500px;
    margin-top: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    height: 40px;
    margin-right: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 0;
    background: none;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    transition: border-color 0.2s;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #007bff;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 16px;
    color: #999;
    transition: all 0.2s;
    pointer-events: none;
}

.input-group input:focus+label,
.input-group input:valid+label {
    top: -20px;
    font-size: 12px;
    color: #007bff;
}

button {
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background: #0056b3;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 20px;
    }

    .input-group {
        margin-bottom: 20px;
    }
}
